<span>
    <h4>ID: - <i>{{macchina.id}}</i></h4>
    <table>
        <tr>
            <td>Modello della vettura</td>
            <td><i>{{macchina.tipomodello}}</i></td>
        </tr>
        <tr>
            <td>Marca</td>
            <td><i>{{macchina.marca}}</i></td>
        </tr>
        <tr>
            <td>Costo</td>
            <td><i>{{macchina.costo}}</i></td>
        </tr>
        <tr>
            <td>Velocità massima</td>
            <td><i>{{macchina.velocitamax}}</i></td>
        </tr>
    </table>
    <hr>
</span>